@keyframes pulse-animation-compression {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.976, 0.95);
  }
}

@keyframes pulse-animation-tension {
  0% {
    transform: scale(1.035, 1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes gradient-transformation {
  0% {
    background: #d9295e;
  }

  100% {
    background: #ffc700;
  }
}

@keyframes border-radius-transformation {
  0% {
    border-radius: 10px;
  }
  100% {
    border-radius: 50px;
  }
}

@keyframes border-transformation {
  0%,
  100% {
    box-shadow: 0px 2px 3px 0px rgba(165, 0, 89, 0.8),
      0px 4px 10px 0px rgba(165, 0, 89, 0.6),
      0px -2px 4px 0px rgba(255, 255, 255, 0.5) inset;
  }
  25% {
    box-shadow: -2px 0px 3px 0px rgba(165, 0, 89, 0.8),
      -4px 0px 10px 0px rgba(165, 0, 89, 0.6),
      2px 0px 4px 0px rgba(255, 255, 255, 0.5) inset;
  }
  50% {
    box-shadow: 0px -2px 3px 0px rgba(165, 0, 89, 0.8),
      0px -4px 10px 0px rgba(165, 0, 89, 0.6),
      0px 2px 4px 0px rgba(255, 255, 255, 0.5) inset;
  }
  75% {
    box-shadow: 2px 0px 3px 0px rgba(165, 0, 89, 0.8),
      4px 0px 10px 0px rgba(165, 0, 89, 0.6),
      -2px 0px 4px 0px rgba(255, 255, 255, 0.5) inset;
  }
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}
@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}
@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }
  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }
  10%,
  100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}
// @keyframes fly-down {
//   0% {
//     opacity: 0;
//     transform: translateY(0) scale(0.2);
//   }
//   5% {
//     opacity: 1;
//     transform: translateY(1.5rem) scale(0.4);
//   }
//   10%,
//   100% {
//     opacity: 0;
//     transform: translateY(3rem) scale(0.2);
//   }
// }

@keyframes bounce-up-btn {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

@keyframes text-background {
  0%,
  100% {
    background: linear-gradient(
      180deg,
      rgb(248, 249, 255) 0%,
      rgb(248, 249, 255) 50%,
      rgb(235, 154, 154) 50%,
      rgb(235, 154, 154) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: linear-gradient(
      180deg,
      rgb(235, 154, 154) 0%,
      rgb(235, 154, 154) 25%,
      rgb(248, 249, 255) 25%,
      rgb(248, 249, 255) 75%,
      rgb(235, 154, 154) 75%,
      rgb(235, 154, 154) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(
      180deg,
      rgb(235, 154, 154) 0%,
      rgb(235, 154, 154) 50%,
      rgb(248, 249, 255) 50%,
      rgb(248, 249, 255) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: linear-gradient(
      180deg,
      rgb(248, 249, 255) 0%,
      rgb(248, 249, 255) 25%,
      rgb(235, 154, 154) 25%,
      rgb(235, 154, 154) 75%,
      rgb(248, 249, 255) 75%,
      rgb(248, 249, 255) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes glare {
  0%,
  40% {
    transform: translate(0, 0);
  }

  60%,
  100% {
    transform: translate(250% 0);
  }
}
