.collections {
  display: grid;
  gap: 28px;
  margin-block: 50px;
  padding-block: 28px 60px;
  border: 4px solid #000;
  border-radius: 4px;
  background-color: #0b101e;
  color: #fff;

  &__title {
    color: #f5f5f5;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;

    &::after {
      content: "";
      display: block;
      padding-top: 20px;
      width: 100%;
      height: auto;
      margin-inline: auto;
      background-image: url("../img/collections/title-bottom-decor.svg"),
        linear-gradient(to right, transparent, rgb(57, 70, 86), transparent),
        url("../img/collections/electro-bg-title.webp");
      background-position: center bottom, center bottom 3px, center bottom 3px;
      background-size: 13px 7px, 100% 1px, 100% 64px;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  &__description {
    text-align: center;
    font-size: 14px;
  }

  &__description-text {
    color: var(--stb-text-secondary);
  }

  &__description-price {
    margin-block: 8px 20px;
    color: rgb(var(--stb-yellow-250));
    font-size: 28px;
  }

  &__description-link {
    color: rgb(27, 109, 255);
  }

  &__body {
    display: grid;
    gap: 24px;
  }
}

.collection {
  &__category {
    padding: 4px;
    border: 1px solid #3d3f52;
    border-radius: 12px;
    background-color: #13182a;
  }

  &__header {
    display: grid;
    gap: 8px;
    align-items: center;
    padding: 50px 72px;
    background: url("../img/collections/collection-banner-gods.jpg");
    background-size: cover;
    background-position: center;
    color: #f5f5f5;
    border-radius: 12px;
  }

  &__title {
    font-size: 28px;
  }

  &__decription {
    font-size: 14px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px 12px;
    justify-items: center;
    padding: 16px 20px 20px;
    margin-inline: 4px;
    border-radius: 12px;
    background-color: #0b101e;
    list-style: none;
  }

  &__item {
    position: relative;
    width: 182px;
    height: 320px;
    border-radius: 25px;
    background-color: #0b101e;
    perspective: 1000px;

    &:hover .carte {
      transform: rotateY(180deg);
    }
  }
}

.carte {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  &__back,
  &__front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    &:before {
      content: " ";
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-image: url("../img/collections/top-left-deco.svg"),
        url("../img/collections/top-right-deco.svg"),
        url("../img/collections/down-right-deco.svg"),
        url("../img/collections/down-center-deco.svg"),
        url("../img/collections/down-left-deco.svg"),
        linear-gradient(
          0deg,
          rgb(var(--stb-neutral-300)),
          rgb(var(--stb-neutral-300))
        ),
        linear-gradient(
          0deg,
          rgb(var(--stb-neutral-300)),
          rgb(var(--stb-neutral-300))
        ),
        linear-gradient(
          0deg,
          rgb(var(--stb-neutral-300)),
          rgb(var(--stb-neutral-300))
        ),
        linear-gradient(
          0deg,
          rgb(var(--stb-neutral-300)) 1px,
          rgb(18, 33, 69) 1px,
          rgb(39, 38, 41) 22px,
          rgb(var(--stb-neutral-300)) 22px
        );

      background-repeat: no-repeat;
      background-size: 38px 34px, 38px 34px, 41px 35px, 52px 8px, 41px 35px,
        calc(100% - 78px) 2px, 1px calc(100% - 70px), 1px calc(100% - 70px),
        calc(100% - 60px) 23px;
      background-position: top left -1px, top right -1px, bottom 6px right -1px,
        bottom center, bottom 6px left -1px, center bottom 6px,
        bottom 38px right, top 31px left, top center;
    }
  }

  &__front {
    transform: rotateY(180deg);
  }

  &__art {
    width: 100%;
    height: calc(100% - 4px);
    background-color: inherit;
    object-fit: cover;
    border-radius: 25px;
    mask-image: linear-gradient(rgb(var(--stb-white)) 0 0),
      url("../img/collections/top-left-corner.svg"),
      url("../img/collections/top-right-corner.svg");
    mask-size: cover, 36px 26px, 36px 26px;
    mask-position: 0 0, top -1px left -1px, top -1px right -1px;
    mask-repeat: no-repeat;
    mask-composite: exclude;
  }

  &__reward {
    position: absolute;
    z-index: 1;
    inset-inline: 0;
    display: flex;
    gap: 2px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-inline: 4px;
    padding-block: 1px;
  }

  &__reward-number {
    font-size: 14px;
    color: #f5f5f5;
  }

  &__reward-name {
    font-size: 10px;
    color: #ffcf6e;
  }

  &__button {
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    all: unset;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto auto 16px;
    padding: 7px 12px;
    background-image: radial-gradient(
      100% 100% at 50% 0%,
      rgb(var(--stb-neutral-700)) 0%,
      rgb(var(--stb-neutral-950)) 100%
    );
    box-shadow: (
      0 -3px 6px 0 rgb(67 72 86 / 0.8) inset,
      0 4px 4px 0 rgb(126 132 155 / 0.4) inset
    );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    cursor: pointer;

    &::after {
      content: " ";
      display: block;
      width: 100%;
      height: 40px;
      position: absolute;
      inset: calc(-1 * width);
      pointer-events: none;
      border-radius: inherit;
      background-image: url("../img/collections/carte-btn-left.svg"),
        linear-gradient(
          0deg,
          rgb(212, 224, 247) 1px 0%,
          rgb(212, 224, 247) 1px 0%
        ),
        url("../img/collections/carte-btn-right.svg"),
        linear-gradient(0deg, rgb(28 32 54) 1px 0%, rgb(28 32 54) 1px 0%);
      background-size: auto 40px, calc(100% - 44px) 1px, auto 40px,
        calc(100% - 44px) 1px;
      background-repeat: no-repeat;
      background-position: left, top center, right, bottom center;
    }
  }

  &__button-title {
    font-size: 18px;
    color: #cacace;
  }
}
