.decorative-line {
  border: 2px solid #aaa7a7;
  border-radius: 50%;
}

.font-700 {
  font-weight: 700;
}

.button-unset {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.button--m {
  --stb-button-border-radius: 12px;
  --stb-button-border-width: 3px;
  --stb-button-box-shadow-size: 2px;
  --stb-button-inner-shape-width: 32px;
  --stb-button-inner-shape-horizontal-offset: 5px;
  --stb-button-inner-shape-vertical-offset: 5px;
  --stb-button-inner-field-inset: 6px;
  --stb-button-inner-border-radius: 6px;
  --stb-button-min-height: 64px;
  --stb-button-padding: 5px 20px;
  --stb-button-font-size: 24px;
}

$icon-mask: (
  "promotions": "../img/sidebar/bonus.svg",
  "home": "../img/sidebar/home.svg",
  "casino": "../img/sidebar/games-casino.svg",
  "live-casino": "../img/sidebar/games-live-casino.svg",
  "jackpots": "../img/sidebar/jackpots.svg",
  "sports": "../img/sidebar/sports-football.svg",
  "live-betting": "../img/sidebar/sports-live-sports.svg",
  "challenges": "../img/sidebar/challenges.svg",
  "tournaments": "../img/sidebar/tournament.svg",
  "bonus-crab": "../img/sidebar/cashcrab.svg",
  "shop": "../img/sidebar/shop.svg",
  "vip": "../img/sidebar/vip.svg",
);

@mixin icon-mask($icon-name) {
  $mask-url: map-get($icon-mask, $icon-name);

  @if $mask-url {
    mask-image: url(#{$mask-url});
  }
}
