.decorative-line {
  border: 2px solid #aaa7a7;
  border-radius: 50%;
}

.font-700 {
  font-weight: 700;
}

.font-900 {
  font-weight: 900;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

.leading-normal {
  line-height: 1;
}

.leading-120 {
  line-height: 1.2;
}

.leading-130 {
  line-height: 1.3;
}

.leading-140 {
  line-height: 1.4;
}

.leading-160 {
  line-height: 1.6;
}

.button-unset {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.button--m {
  --stb-button-border-radius: 12px;
  --stb-button-border-width: 3px;
  --stb-button-box-shadow-size: 2px;
  --stb-button-inner-shape-width: 32px;
  --stb-button-inner-shape-horizontal-offset: 5px;
  --stb-button-inner-shape-vertical-offset: 5px;
  --stb-button-inner-field-inset: 6px;
  --stb-button-inner-border-radius: 6px;
  --stb-button-min-height: 64px;
  --stb-button-padding: 5px 20px;
  --stb-button-font-size: 24px;
}

.title-basic {
  text-transform: uppercase;
  font-style: italic;
  color: var(--stb-text-primary);

  &--s {
    font-size: 14px;
    text-shadow: var(--stb-shadow-25);
  }

  &--m {
    font-size: 16px;
    text-shadow: var(--stb-shadow-200);
  }

  &--l {
    font-size: 24px;
    text-shadow: var(--stb-shadow-200);
  }
}

$icon-mask: (
  "promotions": "../img/sidebar/bonus.svg",
  "home": "../img/sidebar/home.svg",
  "casino": "../img/sidebar/games-casino.svg",
  "live-casino": "../img/sidebar/games-live-casino.svg",
  "jackpots": "../img/sidebar/jackpots.svg",
  "sports": "../img/sidebar/sports-football.svg",
  "live-betting": "../img/sidebar/sports-live-sports.svg",
  "challenges": "../img/sidebar/challenges.svg",
  "tournaments": "../img/sidebar/tournament.svg",
  "bonus-crab": "../img/sidebar/cashcrab.svg",
  "shop": "../img/sidebar/shop.svg",
  "vip": "../img/sidebar/vip.svg",
);

@mixin icon-mask($icon-name) {
  $mask-url: map-get($icon-mask, $icon-name);

  @if $mask-url {
    mask-image: url(#{$mask-url});
  }
}
