@use "sass:math";

@import "vars";
@import "fonts";
@import "libs";
@import "media";
@import "animations";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-size: 16px;
  line-height: 1.4;
  background-color: #e4e3e3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 20px;
  text-align: center;
}

.title {
  margin-bottom: 50px;
  font-size: 56px;
  font-weight: 700;
  // color: #f8f9ff;
}

.btn-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  max-width: fit-content;
  margin: 0 auto;
  list-style: none;
  border-radius: 10px;
  background-color: #9eaec6;
}

.btn-item {
  position: relative;

  .storm-icon {
    display: block;
    position: absolute;
    top: -0.75em;
    left: -0.25em;
    width: calc(100% + 0.5em);
    height: calc(100% + 1.5em);
    pointer-events: none;
    transition: opacity 0.4s;
    transition-delay: 0.1s;
    path {
      stroke-dasharray: 100;
      filter: url("#glow");
      &.line-1 {
        stroke: #ffc700;
        stroke-dashoffset: 0;
        animation: spark-1 6s linear infinite;
      }
      &.line-2 {
        stroke: #d9295e;
        stroke-dashoffset: 500;
        animation: spark-2 6s linear infinite;
      }
    }
  }

  .dots {
    transition: opacity 0.3s;
    transition-delay: 0.4s;
    .dot {
      width: 1rem;
      height: 1rem;
      background: white;
      border-radius: 100%;
      position: absolute;
      opacity: 0;
    }
    .dot-1 {
      top: 0;
      left: 20%;
      animation: fly-up 3s linear infinite;
    }
    .dot-2 {
      top: 0;
      left: 55%;
      animation: fly-up 3s linear infinite;
      animation-delay: 0.5s;
    }
    .dot-3 {
      top: 0;
      left: 80%;
      animation: fly-up 3s linear infinite;
      animation-delay: 1s;
    }
    .dot-4 {
      bottom: 0;
      left: 30%;
      animation: fly-up 3s linear infinite;
      animation-delay: 2.5s;
    }
    .dot-5 {
      bottom: 0;
      left: 65%;
      animation: fly-up 3s linear infinite;
      animation-delay: 1.5s;
    }
  }

  &--animation-1 {
    animation: pulse-animation-compression 0.5s ease-in-out infinite alternate;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      animation: pulse-animation-tension 0.5s ease-in-out infinite alternate;
      background: rgba(255, 255, 255, 0.2);
      transform: scale(1.035, 1.15);
      transition: opacity 0.2s ease-in-out;
      border-radius: 16px;
      pointer-events: none;
    }
  }

  .btn {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 1;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: italic;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &--primary {
      max-width: fit-content;
      background: radial-gradient(
        104.85% 100% at 50% 0%,
        #ffc700 0%,
        #d9295e 100%
      );
      box-shadow: 0px 2px 3px 0px rgba(165, 0, 89, 0.8),
        0px 4px 10px 0px rgba(165, 0, 89, 0.6),
        0px -2px 4px 0px rgba(255, 255, 255, 0.5) inset;
    }

    &--animation-2 {
      animation: gradient-transformation 6s ease-in-out infinite alternate both;
    }

    &--animation-3 {
      animation: border-radius-transformation 2s ease-in-out infinite alternate
        both;
    }

    &--animation-4 {
      animation: border-transformation 5s linear infinite both;
    }

    &--animation-5 {
      animation: bounce-up-btn 5s ease-in-out alternate both;
    }

    &--animation-7 {
      animation: heartbeat 1.5s ease-in-out infinite both;
    }

    &::after {
      position: absolute;
      inset: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/btn-pattern.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: inherit;
      opacity: 0.2;
      content: " ";
    }

    &__inner {
      padding: 25px 40px;
      width: 100%;
      border-radius: inherit;
      border: 2px solid rgba(236, 71, 120, 0.3);
      color: rgb(248, 249, 255);
      background: linear-gradient(
        180deg,
        rgb(248, 249, 255) 0%,
        rgb(248, 249, 255) 50%,
        rgb(238, 222, 222) 50%,
        rgb(238, 222, 222) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0px 2px 3px rgba(165, 0, 89, 0.8));
    }

    &:hover .top {
      top: -10px;
      transition-delay: 0.35s;
    }

    &:hover .bottom {
      bottom: -10px;
      transition-delay: 0.35s;
    }

    &--animation-6 {
      animation: text-background 5s linear infinite;
    }
  }
}

.button {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: italic;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &--primary {
    max-width: fit-content;
    width: 100%;
    padding: 25px 40px;
    border: 2px solid rgba(236, 71, 120, 0.3);
    color: rgb(248, 249, 255);
    background: radial-gradient(
      104.85% 100% at 50% 0%,
      #ffc700 0%,
      #d9295e 100%
    );
    box-shadow: 0px 2px 3px 0px rgba(165, 0, 89, 0.8),
      0px 4px 10px 0px rgba(165, 0, 89, 0.6),
      0px -2px 4px 0px rgba(255, 255, 255, 0.5) inset;
  }

  &::after {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/btn-pattern.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: inherit;
    opacity: 0.2;
    content: " ";
  }

  &:hover .top {
    top: -10px;
    transition-delay: 0.35s;
  }

  &:hover .bottom {
    bottom: -10px;
    transition-delay: 0.35s;
  }
}

.btn-slice {
  position: relative;
  transition: all 1000ms cubic-bezier(0.89, -0.17, 0.14, 1.225);

  .top,
  .bottom {
    position: relative;
    inset: 0;
    height: 15px;
    overflow: hidden;
    transition: all 300ms cubic-bezier(1, -0.055, 0.025, 1.04);
    transition-delay: 0.35s;

    span {
      background: linear-gradient(
        180deg,
        rgb(248, 249, 255) 0%,
        rgb(248, 249, 255) 50%,
        rgb(238, 222, 222) 50%,
        rgb(238, 222, 222) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0px 2px 3px rgba(165, 0, 89, 0.8));
    }
  }

  .top {
    top: 0;
  }

  .bottom {
    bottom: 0;

    span {
      display: block;
      position: relative;
      top: -15px;
      inset-inline: 0;
    }
  }
}

.ally-btn {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 10px 24px;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: var(--stb-button-text-dark);
  text-shadow: 2px 2px 0px #fff;
  border: 3px solid rgb(var(--stb-black));
  border-radius: 12px;
  box-shadow: var(--stb-shadow-50);
  background: rgb(var(--stb-black));
  background-image: var(--stb-gradient-100);
  cursor: pointer;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    content: "";
  }

  &::before {
    z-index: -1;
    margin: 6px;
    border-radius: 5px;
    background-image: var(--stb-button-primary);
  }

  &::after {
    background-image: url("../img/button/shape-left.svg"),
      url("../img/button/shape-right.svg"),
      url("../img/button/shape-center-1.svg"),
      url("../img/button/shape-center-2.svg");
    background-size: 32px calc(100% - 5px * 2), 32px calc(100% - 5px * 2),
      calc(50% - 32px - 5px) calc(100% - 5px * 2),
      calc(50% - 32px - 5px) calc(100% - 5px * 2);
    background-position: 5px 5px, calc(100% - 5px) 5px, calc(32px + 5px) 5px,
      calc(100% - 32px - 5px) 5px;
    filter: none;
    opacity: 1;
  }

  &__animation {
    &::before {
      position: absolute;
      inset-block: 0;
      left: -105%;
      transform: translate(0, 0);
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/button/blick.svg");
      background-size: cover;
      background-repeat: no-repeat;
      animation: glare 4s linear infinite;
      content: "";
    }
  }

  &:hover .ally-btn__animation::before {
    animation: glare 4s linear infinite;
  }
}
