@use "sass:math";

@import "vars";
@import "fonts";
@import "libs";
@import "media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  min-width: 320px;
  line-height: 1.4;
  color: rgb(var(--stb-black));
  background-color: #e4e3e3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  // margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: rgb(var(--stb-black));
}

// dialog styles
@import "login";

.page {
  display: flex;
  margin-block: 50px;
  border-radius: 4px;
  overflow: hidden;
  max-height: 100vh;
}

// sidebar styles and shop
@import "sidebar";
@import "shop";

// cazeus collections
@import "collections";
